.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}
.logos {
  display: flex;
  flex-grow: 2;
}
.logos svg {
  margin: 0 0.5rem;
}

.nav {
  display: flex;
  flex-grow: 1;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin: 0.5rem;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-flex;
}
