.sortByContainer {
  font-size: 14px;
  display: flex;
  flex-grow: 1;
  border: none;
  height: 3rem;
  font-weight: bold;
  color: black;
  align-items: center;
}

.sortBySelect {
  height: 2rem;
  margin-left: 0.5rem;
}
